.bar__card{
    display: flex;
    gap: 5px;
    margin-left: 5px;
    margin-top: 10px;
    height: 70px;
    width: 320px !important;
    padding: 10px;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    border-radius: 15px;
}

.avatar{
    margin-top: 10px;
    font-size: small !important;
    margin-left: 10px;
}

.username{
    font-size: 16px !important;    
}

.username ,
.username__tag{
    display: flex;
}

.header__text {
    display: flex;
    flex-direction: column;
}

.follow__btn{
    height: 40px;
    width: 80px;
    border: 1px solid burlywood;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 55px !important;
    background-color: black !important;
    cursor: pointer;
}

.follow__btn {
    color: white;
}