/* .admin__header {
    position: sticky;
    top: 0 !important;
    z-index: 1 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    background-color: white;
} */

.admin__nav{
    height: 90px;
    width: 100%;
    background-color: white;
    padding: 20px 30px  30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1 !important;
    border-bottom: 1px solid lightgray;
}

.admin__nav > h2 {
    line-height: 30px;
    font-size: 35px;
    font-weight: bold;
    /* color: white; */
}

.twitter__logo{
    height: 70px;
    margin-left: 50px;
}

.twitter__logout{
    height: 35px;
    background-color: var(--twitter-color) !important;
}

.list__view{
    display: flex;
}