.settingCard {
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: 10px;
    height: 70px;
    width: 500px;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    border-radius: 5px;
    font-size: 20px;
    /* justify-content: center; */
    padding-left: 40px;
    align-items: center;
    cursor: pointer;
}